# .env
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=infocenter

JWT_SECRET_KEY=generate-random-secret-key-here-at-least-32-chars

ADMIN_USERNAME=admin
ADMIN_EMAIL=admin@local
ADMIN_PASSWORD=admin

# Для разработки поставьте development, для production - production
FLASK_ENV=production
GUNICORN_ENABLED=true
GUNICORN_WORKERS=4

FRONTEND_PORT=80